$icon-font-path: '../fonts/';

.rain-icon {
	background: url(../images/precipitation-gray.svg) no-repeat;
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
	display: inline-block;
}

.p-link {
	color: #0880d5;
	font-weight: 400;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: #0880d5;				
		text-decoration: unserline;	
	}	
}

