$icon-font-path: '../fonts/';



/*html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
  font-size: 1em;
  font-family: "Segoe WP Light", "OpenSansLight", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe WP", "OpenSansRegular", sans-serif;
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  background: #6acda7;
  //.gradient("linear-gradient(-180deg, #21845e 0%, #092a19 100%)");
  //.transform(translateZ(0));
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 271px;
  height: 344px;
  background-size: 271px 344px;
  margin-left: -135px;
  margin-top: -172px;
  //.transform(translateZ(0));
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: url(../images/logo.png) no-repeat;
  z-index: 31;
}

.header .particle {
  opacity: 0;
  position: absolute;
  background: #6acda7;
  //.transform(translateZ(0));
  -webkit-perspective: 1000;
}*/