$icon-font-path: '../fonts/';

.top-banner-wrap {
  margin: 10px auto;
  width: 728px;
  height: 90px;
}


.header {
  background: #1a1e22;  
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  //height: 60px;  
}

.menu-block {
  display: flex;
  align-items: center;
  //width: calc(100% - 110px);
  width: 64%;
  justify-content: flex-end;
}

.menu-list {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.menu-item {
   //padding: 17px 27px;   
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 20px;

   &:hover {
    background: #262b2e;
   }   
}

.menu-link {
  font-size: 14px;
  font-weight: 300;
  color: #88929c;
  vertical-align: middle; 


  &:hover,
  &:focus,
  &:active {
    color: #88929c;
    text-decoration: none;
    outline: none;
  }

}

.indicator-icon {
  width: 4px;
  height: 4px;
  background: #f30810;
  display: inline-block;
  border-radius: 2px;
  margin-left: 3px;
  vertical-align: top;
}

.indicator-icon.red {  
  background: #f30810;  
}

.indicator-icon.green {  
  background: #53ed1c;  
}

.settings-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.settings-item, .settings-item-options {  
  border-left: 1px solid #262b30;
  cursor: pointer;
  //padding: 17px 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 60px; 

  &:hover {
    background: #262b2e;
   }   
}

.share-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px; 
}

.settings-item-options {
 // padding: 14px 18px;
 width: 30%;
}

.settings-icon {
  background: url(../images/menu_settings.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}

.share-icon {
  background: url(../images/menu_share.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle; 
}

.share-menu-list {
  background: #1a1e22;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
  min-width: auto;
  margin: -1px 0 0 0;
  box-shadow: none;
  padding: 0;

  .feedback-item {
    width: auto;
    height: 50px;
     border-top: 1px solid #262b30;
     border-left: none;
  }

  .feedback-link {
    padding: 0;
    display: flex;
     align-items: center;
    justify-content: center;
     border-left: none;
   

    &:hover {
      background: #262b2e;
    }

  }

}

.options-checkbox {
  position: absolute;
  visibility: hidden;
}

.options-checkbox:checked + .options + .options{
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: #1a1e22;
  border: 1px solid #88929c;
  background: #88929c;
  padding: 3px 7px;
  display: block;
  float: left;
}

.options-checkbox:not(:checked) + .options {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: #1a1e22;
  border: 1px solid #88929c;
  background: #88929c;
  padding: 3px 7px;
  display: block;
  float: left;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }

}

.options {
   font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: #30353a;
  border: 1px solid #30353a;  
  padding: 3px 7px;
  display: block;
  float: left;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }

}


/*.options-active {
  color: #1a1e22;
  border: 1px solid #88929c;
  background: #88929c;
}*/

.menu-button-wrap {
  //padding: 14px 90px;
  width: 35%;
  display: flex;;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #262b2e;
  }

}

.submenu_trigger {
  background: url(../images/hamburger_icon.png) no-repeat;
  //background: transparent;
  border: none;
  width: 26px;
  height: 20px;
}

.submenu {
  background: #1a1e22;
  border-top: 1px solid #262b30;
}

.opened {
  background:  url(../images/cros_icon.png) top right no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

