$icon-font-path: '../fonts/';

@media only screen and (max-width:1366px) {

	.pagewrap {
		max-width: 1100px;
		padding: 0 18px;	
	}

	.left-flex-block {

		.news-content-block {
			max-width: 685px;		
		}

	}

	/*---------------------footer-----------------------------*/

	.feedback-wrap {		
		max-width: 1100px; 
	}


	/*-----------------outlook-page -----------------------------*/

	.page {

		.now-weather-block {
			width: 43%;
			padding-right: 10px;
		}

		.weather-wrap {
			padding: 18px 0;
		}

		.info-block {
			width: 57%;
			padding-left: 20px;
		}

		.weather_pages {

			.block_row {
			//padding: 36px 0;
			}

		}		

	}

	/*-----------------outlook-page end-----------------------------*/
	
}	