$icon-font-path: '../fonts/';

@media only screen and (max-width:767px) {

	.top-banner-wrap {
		display: none;
	}

	.menu-list {
		display: none;
	}

	.settings-list {
		width: 70%;
	}	

	.now-weather-block {
		justify-content: flex-start;		
	}

	.data-block,
	.data-forecast-block {
		width: 200px;
	}


	/*---------------------------------------section-5-------------------------------*/

		.left-flex-block {
		
		.news-content-block {
			top: 35px;
		}

		.left-img {
			width: 100%;
		}
		
	}

	.right-flex-block {

		.news-content-block {
			top: 35px;
		}

		.news-text {
		height: 64px;
		overflow: hidden;
		} 

	}

	/*--------------------------------------section-5 end------------------------------------*/	
	
}	

