$icon-font-path: '../fonts/';

@media only screen and (max-width:735px) {	
	

	/*------------------------------header---------------------------*/	

	.logo-img {
  	width: 72px;
  	height: 29px;
	}	

	.menu-button-wrap {
		//padding: 14px 10px;
	}

	.submenu {

		.footer-list-wrap {
			display: block;
			overflow: hidden;	
			overflow-y: scroll;
			padding: 18px 18px;		
		}

		.footer-item-title {
			margin-bottom: 13px;
		}

		.footer-item {
			margin-bottom: 10px;
		}
	}
	

	/*------------------------------header end---------------------------*/

	.weather-wrap {
		flex-direction: column;
		padding: 30px 0;
	}	

	.location-wrap {
		flex-direction: column;		
	}

	.location-block {
		order: 2;
		margin-top: 30px;
	}

	.search-block {
		//width: 100%;		
	}

	.now-weather-block,
	.info-block,
	.time-block {
		width: 100%;
	}

	.now-weather-block {
		justify-content: center;
	}

	.info-block {
		border-left: none;
		border-right: none;
		border-top: 1px solid #26c3fb;
		border-bottom: 1px solid #2693d4;
	}

	.time-list {
		flex-direction: row;
	}

	.time-item {
		margin-top: 20px;

		&:first-child {
			margin-top: 20px;
		}

	}

	.data-block,
	.data-forecast-block {
		width: 80px;
	}

	.data-block {
		font-size: 13px;
	}

	.data-forecast-block {
		flex-direction: column;
		//align-items: flex-start;
	}

	.deg-value {
		font-size: 14px;
		order: 1;
	}

	.number-value {
		font-size: 24px;

		sup {
		font-size: 10px;
		}

	}

	.cloud-icon {
		order: 0;
		margin: 5px 0 12px 0;
	}

	/*----------------------------------section 3-----------------------------------------*/
	
	.popular-weather-list {
		flex-direction: column;
	}
	
	.popular-weather-item {		
		justify-content: flex-start;
		padding: 23px 28px;		

		&:nth-child(1) {
			width: 100%;
			border-right: 1px solid #ebebeb;
		}

		&:nth-child(2) {
			width: 100%;
			border-right: 1px solid #ebebeb;
		}

		&:nth-child(3) {
			width: 100%;
			border-right: 1px solid #ebebeb;
		}

		&:nth-child(4) {
			width: 100%;
			border-right: 1px solid #ebebeb;
		}

		&:nth-child(5) {
			width: 100%;
		}

	}

	.city-name {
		display: inline-block;
	}

	.land-name {
		display: inline-block;
	}

	/*----------------------------------section 3 end-----------------------------------------*/

	/*----------------------------------section 4-----------------------------------------*/
	
	.local-weather-list {		
		flex-direction: column;
	}

	.local-weather-item {
		width: 100%;
		justify-content: flex-start;
		padding: 23px 28px;

		&:nth-child(4) {			
			border-bottom: 1px solid #ebebeb;
		}

		&:nth-child(5) {
			border-bottom: 1px solid #ebebeb;
		}

	}

	.content-inside-block {
		//text-align: center;
		margin: 36px auto 0;
	}

	.content-button {
		display: none;
	}

	.weater_outlook_menu_trigger {
		display: block;
	}

	.week-list {
		width: 100%;
		margin-bottom: 20px;
		display: none;
	}

	.week-list.visible {
		display: flex;
	}


	/*----------------------------------section 4 end-----------------------------------------*/

	/*---------------------------section-5 --------------------------------------------*/

	.content-flex-block {
		flex-direction: column;
	}

	.left-flex-block {
		width: 100%;
		height: 300px;	

	}

	.right-flex-block {
		width: 100%;	
		
	}

	/*---------------------------section-5 end--------------------------------------------*/

	/*---------------------------section-6 --------------------------------------------*/

	.browsers-list {
		flex-wrap: wrap;
	}

	.browsers-item {
		width: 50%;

		&:nth-child(1) {
			border-bottom: 1px solid #66dafe;
		}

		&:nth-child(2) {
			border-bottom: 1px solid #66dafe;
		}

	}


	/*---------------------------section-6 end--------------------------------------------*/

	/*--------------outlook-------------------------------*/


	.page {

		.index-wrap-list {
			flex-direction: column;
		}

		.index-wrap-item {
			align-items: flex-start;
			margin-right: 0;
			margin-top: 15px;
			width: 100%;			

		}

		.index-wrap-value {
			font-size: 12px;	
		}

		.index-value-item {

			.value-text {
				font-size: 12px;								
			}

		}

	}

	.right-column {

		.banner-wrap {
			margin-right: 0;
		}

	}

	/*--------------outlook end-------------------------------*/

	/*----------------------------footer----------------------------------------*/

	.footer-list-wrap {
		display: none;
	}

	.feedback-wrap {
		flex-wrap: wrap;
		margin: 0;
		height: auto;
	}

	.feedback-block,
	.feedback-list {
		width: 100%;
		height: 60px;
	}

	.feedback-block {
		border-bottom: 1px solid #3b4248;
	}

	.feedback-link {
		border-left: 1px solid #3b4248;
	}

	/*-----------------OUTLOOK------------------------------------------*/

	.page {		

		.popular-weather-item {				
				border-right: none;				
			}

			.weather-wrap {
			flex-direction: column;
		}

		.now-weather-block {
			width: 100%;
			padding-right: 0;
			border-right: none;
			align-items: center;
		}	

		.info-block {
			width: 100%;
			padding-left: 0;
		}

		.info-list {
			flex-direction: column;
			justify-content:center;
			align-items: center;
		}

		.info-item {
			width: 190px;			

			&:nth-child(3) {
				margin-bottom: 23px;
			}
			
		}

	.value-text {		
		width: 55%;
		font-size: 14px;
	}

	.value-num {		
		width: 15%;
		font-size: 14px;
	}

	.value-day {		
		width: 30%;
		font-size: 14px;		
	}

	/*--------------------------astronomy--------------------------*/	

	.astronomy-wrap {
		flex-direction: column;
	}
		
	.astronomy-left-list {
		border-right: none;
		width: 100%;
		justify-content: center;
		padding-bottom: 20px;

		.time-item {
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}
			
		}

	}

	.astronomy-right-list {
		width: 100%;
		padding: 20px 10px 0 10px;
		flex-wrap: wrap;
		border-top: 1px solid #ebebeb;
	}

	.astronomy-right-item {		

		&:first-child {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}

	}

	}	

	/*-----------------OUTLOOK end------------------------------------------*/
	
}	

