$icon-font-path: '../fonts/';

@media only screen and (max-width:767px) {

	.top-banner-wrap {
		display: none;
	}

	#menu_block {
		top: 0;
	}

	.menu-list {
		display: none;
	}

	.settings-list {
		width: 70%;
	}

	.settings-item {
		width: 25%;
	}

	.menu-button-wrap {
		justify-content: center;
	}

	.options-label {
		display: none;
	}	

	.mobile-select {
  	display: block;
	}

	.now-weather-block {
		justify-content: flex-start;		
	}

	.data-block,
	.data-forecast-block {
		width: 200px;
	}

	.submenu {		  

  .menu-list {
    display: flex;
    width: 100%;
    //padding: 0 18px;
    border-bottom: 1px solid #262b30;
  }

  .menu-item {
  	width: 33.3%;  	
  }

  .footer-list-wrap {			
			padding: 30px 18px;
		}
  
}

.menu-button-wrap {  

  .indicator-icon.green {
    display: block;
  }

}

.week-info-block {

	.week-list {
	display: none;
	background: #ebebeb;


	.week-item {
		width: 100%;
		border-right: none;
		padding: 0 20px;


		&:first-child {
			width: 100%;
		}

		.day-link {
			justify-content: flex-start;

		}
	}

	.week-item.active {
		border: 1px solid #00e895;
	    border-radius: 0;
	    background: #00e895;
	    color: white;
	}

}

.week-list.visible {
	display: block;
}	

}



/*----------------------------------section 3-----------------------------------------*/
	
	.popular-weather-list {
		display: flex;
		flex-direction: column;
		align-items: center;

		.popular-weather-item {
			padding: 9px 28px;
			display: flex;
			align-items: center;	
		}

		.popular-weather-img-block {
			text-align: left;
		}	

	}

	
	
	.popular-weather-item {	
		display: flex;	
		justify-content: flex-start;
		align-items: center;
		padding: 9px 28px;			

		.popular-weather-inside-wrap {
			width: 100%;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

		}

	}			

		.city-name {
			display: inline-block;
		}

		.land-name {
			display: inline-block;
		}



	/*----------------------------------section 3 end-----------------------------------------*/


	/*---------------------------------------section-5-------------------------------*/

		.left-flex-block {
		
		.news-content-block {
			top: 35px;
		}

		.left-img {
			width: 100%;
		}
		
	}

	.right-flex-block {

		.news-content-block {
			top: 35px;
		}

		.news-text {
		height: 64px;
		overflow: hidden;
		} 

	}

	/*--------------------------------------section-5 end------------------------------------*/	



	/*-----------------OUTLOOK------------------------------------------*/

	.page {

		.popular-weather-wrap {
			margin-top: 45px;
		}

		.popular-weather-list {
			border-right: none;			
		}

		.popular-weather-item {
				padding: 0;
				border-right: none;
				border-left: none;
				border-bottom: 1px solid #006ebf;

				&:last-child {
					border-bottom: none;
				}

			}

			.popular-weather-link-wrap {				
				padding: 9px 28px;
				justify-content: flex-start;
			}

			.weather_schedule_container {
				display: none;
			}

			.weather_schedule_list,
			.weather_schedule_list.days {
				display: block;	
				padding: 0 18px;
				border-left: none;
				border-bottom: none;				

			li {
				display: block;
				width: 100%;
				border-right: none;
				border-bottom: 1px solid #ebebeb;

				a {
					padding: 15px 28px;
				}

			}

		}

		.right-column {
			margin-top: 0;
		}

		/*------------таблица--------------------------*/

		.desctop-table-block {
			display: block;
		}

		

		/*------mob display block------*/		

			.tabs_item {
				width: 100%;			
				display: flex;				
				//flex-direction: column;
				flex-wrap: wrap;
				border-bottom: 1px solid #ebebeb;			
				position: relative;
				align-items: center;
				background: #fff;
				

				&:after {	
				background: #fff;			
			    content: '';
			    position: absolute;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 8px solid #e1e1e1;
			    top: 50%;
			    margin-top: -4px;
			    right: 10px;
				}

			}

			.tabs_item.d_active {
			background: linear-gradient(to top right, #00c4a8, #00e4a9);		
			

			&:after {	
				background: transparent;			
		    content: '';
		    position: absolute;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-bottom: 8px solid #fff;
		    border-top: 0;
		    top: 50%;
		    margin-top: -4px;
		    right: 10px;
			}

			.date {
				background: transparent;
				position: relative;

				&:after {
					content: "";
					border-right: 1px solid #fff;
					position: absolute;
					height: 40px;
					right: 0;
					top: 50%;
					margin-top: -20px;
				}
				
			}

			.icon {
				background: url("../images/cloudy-color-white.svg") 50% 50% no-repeat;
			}

			.temperature {
				color: #fff;
			}

		}	

		
			.date {				
				width: 42.84%;
				height: 70px;				
				background: linear-gradient(to top right, #00c4a8, #00e4a9);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;	
				color: #fff;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 300;				
				padding: 10px 0;
				text-align: center;
				//border-right: 1px solid #ebebeb;
				border-bottom: none;
				border-top: none;				
			}

			.icon {			
				margin-top: 14px;
				background: url("../images/cloudy-color-gray.svg") 50% 50% no-repeat;
				text-align: right;
				height:20px;				
				width: 18.56%;
				margin-top: 0;				
				vertical-align: middle;				
				display: inline-block;
			}

			.temperature {
				width: 38.6%;
				vertical-align: middle;
				text-align: left;				
				font-size: 16px;

				sup {
					font-size: 11px;
				}			

			}		

				.weather_pages {
					display: block;
					width: 100%;
					border-right: 1px solid #ebebeb;
					border-top: 1px solid #ebebeb;
				}

				&:after {				
		    content: '';
		    position: absolute;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 8px solid #e1e1e1;
		    top: 50%;
		    margin-top: -4px;
		    right: 10px;
				}			
						


			.tabs_item.active	{
				position: relative;

				&:after {
					 content: '';
			    position: absolute;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-bottom: 8px solid #fff;
			    border-top: transparent;
			    top: 50%;
			    margin-top: -4px;
			    right: 10px;
					}
				}

					

		

	/*------mob display block------*/

		.weather_tabs_trigger {
			width: 100%;			
			display: flex;
			border-top: 1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
			border-right: 1px solid #ebebeb;
			position: relative;

			&:after {				
		    content: '';
		    position: absolute;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 8px solid #e1e1e1;
		    top: 50%;
		    margin-top: -4px;
		    right: 10px;
				}


			.date {
				width: 42.84%;
				//height: 100%;
				//float: left;
				background: linear-gradient(to top right, #00c4a8, #00e4a9);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;	
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 300;				
				padding: 30px 5px 30px 0;
				text-align: center;
				//border-right: 1px solid #ebebeb;
			}

			.icon {			
				margin-top: 14px;
				background: url("../images/cloudy-color-gray.svg") 50% 50% no-repeat;
				text-align: right;
				height:20px;							
				//width: 14.28%;
				width: 18.56%;
				margin-top: 0;
				//float: left;
				vertical-align: middle;
				margin-top: 30px;
				//padding-bottom: 30px;
				display: inline-block;
			}

			.temperature {
				width: 38.6%;
				vertical-align: middle;
				text-align: left;				
				padding-top: 30px;
				font-size: 16px;

				sup {
					font-size: 11px;
				}			

			}			

		}

		.tabs_header {
			flex-direction: column;
			
		
			li {
				width: 100%;


				a {
					display: flex;
					flex-direction: row;					
					border-right: none;
					padding: 20px 5px 20px 0;
					justify-content: flex-start;

					&:first-child {
						border-left: none;
					}

					.date {
						padding: 0;
						border-bottom: none;
						width: 42.84%;
						border-right: 1px solid #ebebeb
					}

					.icon {
						//width: 14.28%;
						width: 18.56%;
						padding: 0;
						margin-top: 0;
					}

					&:hover {

						.date {
							border-bottom: none;							

						}

				}

				.temperature {
					width: 40.6%;
					text-align: left;
					padding-right: 15px;
				}

			}

		}	

			.active {					

				a {

				.date {
					border-bottom: none;
				}

				&:hover,
				&:focus {

					.date {
					border-bottom: none;

					}

				}

			}							

		}	

	}	

		/*------------таблица конец--------------------------*/

	.section-5,
	.section-7 {
		display: none;
	}

	/*-----------------mobile section-----------------------------------------*/

	.tabs {
		display: none;
	}	

	.mobile-section {
		display: block;
		margin-top: 30px;
	}

	.tab-pane.first {
		display: none;
	}

	.tab-pane {
			list-style: none;
			margin-top: 0;
			min-height: auto;

			.close_block {
				border-top: 1px solid #00daa9;
				width: 100%;
				height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;

				.close-icon {
					background: url("../images/close-pointer.png") 50% 50% no-repeat;
					width: 21px;
					height: 11px;
					display: block;
				}

			}			

		}

	.moth-info-block {

		.month_outlook_menu_trigger {
			background: linear-gradient(to right, #0072af, #00ccf9);
			padding: 28px 35px;
			text-align: left;
			position: relative;
			color: #fff;
			text-transform: uppercase;
			font-size: 13px;	

			&:after {
		    content: '';
		    position: absolute;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 8px solid #fff;
		    top: 50%;
		    margin-top: -4px;
		    right: 20px;
			}			

		}

		

		.month-list {
			display: none;
			width: 100%;
			flex-direction: column;			
		}

		.month-list.visible {
			display: flex;

			.month-link {
				text-transform: uppercase;
				text-align: left;
				font-size: 12px;
				align-items: flex-start;
				text-align: left;
				width: 100%;
				font-size: 13px;

				&:hover {
					border-color: transparent;
					background: transparent;
				}
			}

		}		

		.month-item.active {
			background: #0072af;
			border: 1px solid #0072af;

			.month-link {
				background: transparent;
				border: none;
				color: #fff;
				text-align: left;				
			}

		}		

	}

	.month-item {
		border-bottom: 1px solid #ebebeb;
		padding: 5px 20px;
		display: flex;
		align-items: center;
		justify-content: flex-start;		
	}

	.month-description {
		border-bottom: 1px solid #ebebeb;
		padding: 30px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.month-temp-value {
		font-size: 14px;
		font-weight: 300;
		width: 63%;
		
		sup {
			font-size: 10px;
		}
	}

	.month-temp-num {
		font-size: 16px;
		font-weight: 500;
		width: 25%;
		text-align: right;
	}

	.month-temp-num.max {
		color: #f1545d;
	}

	.month-temp-num.min {
		color: #1097dc;
	}

	.tab-pane-month {
		display: none;
	}

	.tab-pane-month.active {
		display: block;
	}

	/*-----------------mobile section end-----------------------------------------*/



	}	

	/*-----------------OUTLOOK end------------------------------------------*/
	
}	

