$icon-font-path: '../fonts/';

@media only screen and (max-width:767px) {

	.top-banner-wrap {
		display: none;
	}

	#menu_block {
		top: 0;
	}

	.menu-list {
		display: none;
	}

	.settings-list {
		width: 70%;
	}

	.options-label {
		display: none;
	}	

	.mobile-select {
  	display: block;
	}

	.now-weather-block {
		justify-content: flex-start;		
	}

	.data-block,
	.data-forecast-block {
		width: 200px;
	}

	.submenu {		  

  .menu-list {
    display: flex;
    width: 100%;
    //padding: 0 18px;
    border-bottom: 1px solid #262b30;
  }

  .menu-item {
  	width: 33.3%;  	
  }

  .footer-list-wrap {			
			padding: 30px 18px;
		}
  
}

/*----------------------------------section 3-----------------------------------------*/
	
	.popular-weather-list {
		display: flex;
		flex-direction: column;
		align-items: center;

		.popular-weather-item {
			padding: 23px 28px;	
		}

	}	
	
	.popular-weather-item {	
		display: flex;	
		justify-content: flex-start;
		align-items: center;
		padding: 23px 28px;			

		.popular-weather-inside-wrap {
			width: 100%;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

		}

	}			

		.city-name {
			display: inline-block;
		}

		.land-name {
			display: inline-block;
		}

	/*----------------------------------section 3 end-----------------------------------------*/


	/*---------------------------------------section-5-------------------------------*/

		.left-flex-block {
		
		.news-content-block {
			top: 35px;
		}

		.left-img {
			width: 100%;
		}
		
	}

	.right-flex-block {

		.news-content-block {
			top: 35px;
		}

		.news-text {
		height: 64px;
		overflow: hidden;
		} 

	}

	/*--------------------------------------section-5 end------------------------------------*/	
	
}	

