$icon-font-path: '../fonts/';

@media only screen and (max-width:375px) {

	.pagewrap {
		//max-width: 290px;	
	}

	/*------------------------------header---------------------------*/

	.logo-block {
		padding: 0 3px;
	}	

	/*------------------------------header end---------------------------*/	

	.search-block {
		width: 100%;
		
		.search-select {
			padding: 0 10px 0 10px;
		
		}

	}

	/*---------------------------section 4---------------------------------*/

	.banner-wrap {
		margin: 0 auto;
		margin-right: 0;
	}

	/*---------------------------section 4 end---------------------------------*/

	/*-----------------OUTLOOK------------------------------------------*/

	.page {		
		
		.weather-text {
			font-size: 52px;
		}

		.weather-text {
			height: 75px;
		}

	}

	/*-----------------OUTLOOK end------------------------------------------*/
	
}	

