$icon-font-path: '../fonts/';

body {
	font-family: 'Fira Sans', sans-serif;
}

.main {
	position: relative; 
}

.pagewrap {	
	max-width: 1520px;
	margin: 0 auto;
}

.blur{
	overflow-x: hidden;
}

.the-blur{	
   -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

/*--------------------------------------------section-1------------------------------*/

.header {
	background: url(../images/head-bg.jpg);
	background-size: cover;
	width: 100%;	
}

.location-wrap {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;

	.location-text-wrap {
	margin-left: 20px;
	}

	.location-icon {
		background: url(../images/location-icon.png) no-repeat;
		width: 14px;
		height: 21px;
		display: inline-block;
		float: left;
	}

	.location-name {
	font-size: 22px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 9px;
	white-space: nowrap;
}

	.location-description {
		font-size: 16px;
		font-weight: 300;
		color: #66a6d4;

		span {
			color: #fff;
		}

	}

}

.search-block {
	border-radius: 3px;
	height: 50px;
	background: #fff;
	display: flex;
	align-items: center;
	width: 547px;
	position: relative;
	z-index: 5;

	.city_input_container {
		position: relative;
		top: 0;
		padding-right: 10px;
		width: 90%;
	}

	.text_input {
		height:45px;	
		border: none;
		outline: none;
		box-shadow: none;
		font-size: 14px;
		background: url('../images/location-button-icon.png') center right no-repeat;
		cursor: pointer;

		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}

	}
	
	.select-location-button {
		background: #fff;
		position: absolute;
		top: 0;
		right: 3px;
		cursor: pointer;
		z-index: 10;
		width: 100px;
		height: 25px;
		display: inline-block;
		pointer-events: none;
		text-align: right;
	}

	.location_submenu {
		background: white;
		list-style: none;
		width: 100%;
		padding:0 15px 0 15px;
		display: none;
		position: absolute;
		top: 40px;
		z-index:100;

		li {
		font-size:14px;
		font-family:  firasans-book, Arial, sans-serif;
		padding:0 15px 0 20px;
		border-bottom: 1px solid #ebebeb;

		&:hover {
			background: #ebebeb; 
			cursor: pointer;
		}

	}

		.close_block {
			background: url('../images/triangle.png') 50% 50% no-repeat;			
			padding:30px;

		&:hover {
			background: url('../images/triangle3.png');
			background-color: #ebebeb;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			}

		}

		.close{
			float: right;
			width:10px;
			height:10px;
			background: url('../images/close.png') top left no-repeat;
			background-position: 0 -10px;
			margin-top:22px;
			display: inline-block;
			opacity:1;
		}

		div {
			margin-right:15px;
			padding:15px 0 15px 0;	
		}		

	}

	.visible{
		display: block;
	}

	

	.current {
		color: #0880d5;
		}	

	.location_submenu li:hover .close {
		background-position: 0  -10px;
		opacity: 1;
	}

	

	/*.location-button-icon {
		background: url(../images/location-button-icon.png) no-repeat 7px 0;
		width: 30px;
		height: 8px;
		display: inline-block;
	}*/

	.search-button, .location-button {
		background: #fff;
		border:none;
		//border-left: 1px solid #e3e3e3;
		padding: 10px 0;
		width: 13%;
	}

	.search-button-icon {
		background: url(../images/search-button-icon.png) no-repeat;
		width: 16px;
		height: 17px;
		display: inline-block;
		vertical-align: middle;
	}

	.autolocation-button-icon {
		background: url(../images/autolocation-icon.png) no-repeat;
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
	}

}

.weather-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 55px 0;
}

.now-weather-block {
	display: flex;
	align-items: center;	
	width: 40%;
	justify-content: center;
}

.weather-img-block {
	margin-top: 15px;
}

.weather-text-block {	
	padding-left: 35px;	
}

.weather-text {
	font-size: 102px;
	color: #fff;
	font-weight: 500;	
	height: 90px;
  display: inline-block;
  vertical-align: bottom;
}

.deg-c, .deg-f {
	font-size: 30px;
  text-transform: uppercase;
  vertical-align: super;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
  display: inline-block;
}

.deg-f {
	color: #66a9d8;
}

.info-block {
	//display: flex;
	//align-items: center;
	border-right: 1px solid #26c3fb;
	border-left: 1px solid #2693d4;
	padding: 20px 0;
	width: 40%;		
}

.info-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.info-item {
	list-style: none;	
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.info-item-text {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 13px;
	margin-top: 17px;	
}

.info {
	font-size: 24px;
	font-weight: 500;
}

.feels-icon {
	background: url(../images/feels-like.svg) no-repeat;
	background-size: 10px 22px;
	width: 10px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.humidity-icon {
	background: url(../images/humidity.svg) no-repeat;
	background-size: 14px 22px;
	width: 14px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.pressure-icon {
	background: url(../images/pressure.svg) no-repeat;
	background-size: 12px 22px;
	width: 12px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.wind-icon {
	background: url(../images/wind.svg) no-repeat;
	background-size: 22px 22px;
	width: 22px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

.time-block {
	width: 20%;	
	//padding: 20px 0;
}

.time-list {
	display: flex;
	align-items: center;
	justify-content: space-around;	
}

.time-item {
	list-style: none;	
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.time-text {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	margin-top: 18px;
}

.am-icon {
	background: url(../images/sunrise.svg) no-repeat;
	background-size: 48px 45px;
	width: 48px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
}

.pm-icon {
	background: url(../images/sunset.svg) no-repeat;
	background-size: 48px 45px;
	width: 48px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
}

.lange-wrap {
	background: linear-gradient(to right, #266db4, #26bcf8);
	width: 100%;
	height: 70px;
	border: none;

	&:hover {
		background: linear-gradient(to right, #5c92c7, #5ccdfa);
		border: none;
	}

}

.lange-wrap {
	display: flex;
	align-items: center;
  justify-content: center;
}

.lange-link {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;	
	
	&:hover,
	&:focus,
	&:active {
		color: #fff;
		text-decoration: none;
		outline: none;
	}

}

/*----------------------------------------section-1 end-------------------------------------*/

/*----------------------------------------section-2-------------------------------------*/

.forecast-list {
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 300;
}

.forecast-item {
	width: 33.3%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px 0;
}

.day-1 {
	background: linear-gradient(to right, #00d6a1, #00e994);
}

.day-2 {
	background: linear-gradient( to right, #00c4a8, #00e4a9);
}

.day-3 {
	background: linear-gradient(to right, #00d3c6, #00e0bf);
}

.data-block {
	width: 236px;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 7px;
	border-bottom: 1px solid #4deab8;
	text-align: center;
}

.data-forecast-block {
	padding-top: 7px;
	width: 236px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deg-value {
	font-size: 16px;	

	sup {
		font-size: 14px;
	}

}

.number-value {
	font-size: 31px;
	font-weight: 400;
}

.cloud-icon {
	background: url(../images/cloud.svg) no-repeat;
	background-size: 30px 19px;
	width: 30px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
}

/*----------------------------------------section-2 end-------------------------------------*/

/*----------------------------------------section-3-------------------------------------*/

.popular-weather-list {
	display: table;
	width: 100%;	
	border-right: 1px solid #ebebeb;

	.popular-weather-item {
		display: table-cell;
		width: auto;
		padding: 18px 10px;
		text-align: left;

		&:last-child {
		border-right: none;
		}

	}

	.popular-weather-inside-wrap {
		//width: 190px;
		margin: 0 auto;
	}

	.popular-weather-img-block {
		text-align: center;
		display: inline-block;
		//max-width: 60px;
		//width: 100%;
	}

	.popular-weather-city-block {
		display: inline-block;
	}

}

.popular-weather-item {
	list-style: none;
	display: flex;
	width: 20%;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 23px 10px;
	//height: 90px;
	align-self: stretch;

	&:last-child {
	border-right: 1px solid #ebebeb;
	}

}

	.popular-weather-img-block {
		width: 60px;
		//display: inline-block;
	}

	.cloud-blue-icon {
		background: url(../images/cloudy-color-gray.svg) 50% 50% no-repeat;
		background-size: 30px 19px;
		width: 30px;
		height: 19px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		margin-bottom: 7px;
	}

	.city-deg-value {
		font-size: 16px;
		font-weight: 500;
		color: #0880d5;
		text-transform: uppercase;
		display: block;
	}
	

	.popular-weather-city-link {
		color: #4c4c4c;

		&:hover {
			color: #0880d5;			
		}

			&:hover span{
				text-decoration: underline;
			}
	}

	.city-name {
		display: block;		
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 2px;
	}

	.land-name {
		display: block;		
		font-size: 16px;
		font-weight: 300;
	}

/*----------------------------------------section-3 end-------------------------------------*/

/*----------------------------------------section-4 content-------------------------------------*/

.content-wrap {
	display: flex;	
}

.left-column {
	width: calc(100% - 330px);
}

.right-column {
	width: 300px;
	margin-left: 30px;	
}

.content-block {
	margin-top: 63px;
	color: #4c4c4c;
}

.content-title {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;		
	line-height: 35px;
	margin-bottom: 23px;
	padding-right: 25px;
}

.title-block {
	padding-left: 25px;
	display: inline-block;
	border-left: 1px solid #ebebeb;
	line-height: 35px;
}

.eye-blue-icon {
	background: url(../images/eye-blue.svg) no-repeat;
	background-size: 16px 10px;
	width: 16px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;	
}

.title-text {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	color: #9c9c9c;
	display: inline-block;
	padding-left: 5px;

	&:hover,
	&:active,
	&:focus, {
		text-decoration: underline;
		color: #2991db;
	}
}

.map-block {
	width: 100%;
	height: 250px;

	.map-img {
		width: 100%;
		height: 100%;
	}

}

.banner-wrap {
	width: 300px;
	height: 250px;
	padding-top: 57px;
}

.banner-lang-wrap {
	width: 300px;
	height: 600px;
	padding-top: 57px;
}

.local-weather-list {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ebebeb;
}

.local-weather-item {
	list-style: none;
	width: 33.3%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 23px 30px;   
  align-self: stretch;
  border-bottom: 1px solid #ebebeb;

  &:nth-child(1) {		
		border-right: 1px solid #ebebeb;
  }

  &:nth-child(2) {		
		border-right: 1px solid #ebebeb;
  }

  &:nth-child(4) {
		border-bottom: none;
		border-right: 1px solid #ebebeb;
  }

  &:nth-child(5) {
		border-bottom: none;
		border-right: 1px solid #ebebeb;
  }

  &:nth-child(6) {
		border-bottom: none;
  }
}

.title {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;	
}

.week-block {
	display: flex;
}

.week-info-block {
	display: inline-block;
	width: 100%;
}



.week-list {
	display: flex;
	align-items: center;
	width: 100%;

	.week-item {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #ebebeb;
	height: 40px;	
	cursor: pointer;
	width: 14.2%;

	&:first-child {
		width: 340px;
	}

		.day-link {
		text-transform: uppercase;
		color: #cdcdcd;
		font-size: 12px;
		font-weight: 400;
		border: none;
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		width: 100%;
		height: 100%;
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover .day-link	{
		color: #07d289;	
		box-shadow: none;	
	}

	&:active .day-link,
	&:focus .day-link{
		color: #07d289;
		border-top: none;
		box-shadow: none;
	}

}

.week-item.active {
	border: none;
	box-shadow: none;
	background: linear-gradient(to right, #00db9e, #00e895);
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	//width: 340px;
	padding: 13px 20px 11px 20px;
	display: inline-block;

		.day-link {
			box-shadow: none;
			color: #fff;
			background: transparent;
			border: none;
			border-radius: 0;
		}

	}

}

.nav-tabs {
	border-bottom: none;
}

.tab-pane {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5em;
	margin-top: 27px;
	min-height: 121px;
}

.weater_outlook_menu_trigger {
	border: none;
	background: linear-gradient(to right, #00db9e, #00e895);
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	width: 100%;
	padding: 13px 20px 11px 20px;
	position: relative;
	

	&:after {
		content: '';
		//background: url(../images/eye-blue.svg) no-repeat;
    position: absolute;
    border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid #fff; 
		top: 16px;
		right: 20px;
	}

}



.top-city-wrap {
	margin-top:35px;
}

.top-city-block {
	margin-top: -10px;
}

.top-city-link {
	font-size: 16px;
	font-weight: 300;
	color: #4c4c4c;

	&:hover {
		color: #0880d5;
		text-decoration: underline;	

	}

}

.sep {		
		color: #c9c9c9;
		padding: 0 10px;
		line-height: 1.5em;
		text-decoration: none;	
		font-weight: 300;
		display: inline-block;
	}	

.pm-link {
	display: flex;
	align-items: center;
	justify-content: center;
	//flex-wrap: wrap;
	flex-direction: column;
	width: 300px;
  height: 250px;
	font-family: firasans-light, Arial, sans-serif;
	color: #4c4c4c;
	text-decoration: none;
	text-align: center;
  background: white;
  border: 2px solid transparent; 	    
  -moz-border-image: -moz-linear-gradient(bottom left,  #01cfff 0%, #fdff02 50%, #fb3745 100%);
  -webkit-border-image: -webkit-linear-gradient(bottom left,  #01cfff 0%, #fdff02 50%, #fb3745 100%);
  border-image: linear-gradient(to top right,  #01cfff 0%, #fdff02 50%, #fb3745 100%);
  border-image-slice: 1; 
	transition-property: border-image;
	transition-duration: 0.5s;

	&:hover {
	-moz-border-image: -moz-linear-gradient(bottom left,  #fb3745 0%, #f80fdf 50%, #01cfff 100%);
  -webkit-border-image: -webkit-linear-gradient(bottom left,  #f80fdf 0%, #fdff02 50%, #01cfff 100%);
  border-image: linear-gradient(to top right,   #fb3745 0%, #f80fdf 50%, #01cfff 100%);
	border-image-slice: 1;
	transition-property: border-image;
	transition-duration: 0.5s;
	}

	img {
		width: 59px;
		height: 59px;
	}

	.pm-title {
		//width: 100%;
		color: #4c4c4c;	
		padding-top: 35px;	
	}
}
/*----------------------------------------section-4 end-------------------------------------*/

/*---------------------------------section-5------------------------------------*/

.content-flex-block {
	display: flex;
}

.news-link {
	display: block;

	&:hover {

		.news-title,
		.news-text {
			text-decoration: underline;
		}

		.transparent-button {
			background: rgba(255,255,255,.3);
			border: 1px solid transparent;		
		}

	}

}

.news-title {
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.5em;
	display: block;
}

.left-flex-block {
	//background: url(../images/news-bg-1.jpg);
	background-size: cover;
	height: 600px;
	width: 60%;	

	.news-content-block {
		position: absolute;
		z-index: 10;
		width: 100%;    
		top: 53px;
		text-align: left;
		right: 0;	
		max-width: 967px;
	}	

}

.left-img {
		width: 100%;
		height: 100%;
	}

.news-text {
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin: 25px auto 25px 0;
	line-height: 1.5em;
	display: block;
}

.transparent-button {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	background: transparent;
	border: 1px solid #939ca2;
	padding: 16px 42px 14px 42px;
}

.right-flex-block {
	display: flex;
	flex-direction: column;
	width: 40%;

	.news-content-block {	
		position: absolute;
		z-index: 10;
		width: 100%;    
		top: 53px;
		text-align: left;
		left: 50px;	
	}

}

.top-news-block {		
	height: 300px;
	width: 100%;
}

.bottom-news-block {	
	height: 300px;
	width: 100%;
}

.lange-wrap-gray {
	background: #eeeeee;

	.lange-link {
		color: #4c4c4c;
	}

	&:hover {
		background: #dbdbdb;

		.lange-link {
			color: #fff;
		}

	}

}

.content-banner-wrap.content-banner-wrap {
	margin: 65px auto;
}

/*--------------------------------------section-5 end-----------------------------------------*/

/*--------------------------------------section-6-----------------------------------------*/

.browsers-list {
	background: url(../images/browsers-bg.jpg);
	background-size: cover;
	display: flex;
	align-items: center;	
}

.browsers-item {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 140px;	
	border-right: 1px solid #66dafe;
	

	&:last-child {
		border-right: none;
	}

	/*&:hover {		
		background: rgba(255,255,255,.2);
		
		.browsers-link {
			color: #fff;
		}

	}*/

}

.browsers-link {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&:hover {		
		background: rgba(255,255,255,.2);
		color: #ffffff;
	}

	&:visited,
	&:active,
	&:focus {
		color: #ffffff;
		text-decoration: none;
	}

}

.firefox-icon {
	background: url(../images/white-firefox.svg) no-repeat;
	background-size: 24px 23px;
	width: 24px;
	height: 23px;
	display: inline-block;
	margin-bottom: 15px;
}

.chrome-icon {
	background: url(../images/white-chrome.svg) no-repeat;	
	background-size: 22px 23px;
	width: 22px;
	height: 23px;
	display: inline-block;
	margin-bottom: 15px;
}

.opera-icon {
	background: url(../images/white-opera.svg) no-repeat;	
	background-size: 21px 23px;
	width: 21px;
	height: 23px;
	display: inline-block;
	margin-bottom: 15px;
}

.yandex-icon {
	background: url(../images/white-yandex.svg) no-repeat;	
	background-size: 21px 23px;
	width: 21px;
	height: 23px;
	display: inline-block;
	margin-bottom: 15px;
}



/*--------------------------------------section-6 end-----------------------------------------*/


